//Importar estilos de letras
@font-face {
    font-family: "Bai-regular";
    src: url('/fonts/Bai-Jamjuree/BaiJamjuree-Regular.ttf');
}

@font-face {
    font-family: "Bai-SemiBold";
    src: url('/fonts/Bai-Jamjuree/BaiJamjuree-SemiBold.ttf');
}

//Declaracion de variables
$bg-body: white;
$bg-header-desk: url('/images/bg-header-desktop.png');
$BaiRegular: Bai-regular;
$Bai-SemiBold: Bai-SemiBold;

// ************************ MIXIONS *************************
@mixin btn_style($bg, $borde){
    width: 200px;
    height: 50px;
    background-color: $bg;
    border: 1px solid $borde;
    border-radius: 50px;
    color: white;
    font-family: $BaiRegular;
    font-size: 1rem;
}

// ********** ESTILOS GENERALES *************
body {
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    background-color: $bg-body;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    width: auto;
    height: auto;
    background: no-repeat 0% 0% / 100% 70% $bg-header-desk;
    padding: 110px;
    
    display: flex;
    align-items: center;
    flex-direction: column;

    img{
        margin-bottom: 30px;
    }

    h1{
        margin-bottom: 20px;
        font-family: $Bai-SemiBold;
        color: #495257;
        font-size: 4rem;
        text-align: center;
    }
    
    p{
        width: 70%;
        margin-bottom: 40px;
        font-family: $BaiRegular;
        color: #B0B6B6;
        font-size: 2rem;
        text-align: center
    }

    .botones {

        .btn-1 {
            @include btn_style(#24BCA5,#21B9A2);
            margin-right: 10px;
            box-shadow: 0px 0px 0px 1px #61C4B5,
                0px 10px 15px 1px #c2fced;
        }

        .btn-2 {
            @include btn_style(#6174FF,#5C6FFA);
            margin-left: 10px;
            box-shadow: 0px 0px 0px 1px #8895E6,
                        0px 10px 15px 1px #DFE3F9;
        }
    }
}

main {
    width: 100%;
    max-width: 1920px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;

    div {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 40px;
        
        h2 {
            margin-top: auto;
            margin-bottom: 20px;
            font-family: $Bai-SemiBold;
            color: #4F575C;
            text-align: center;
        }

        p{
            width: 50%;
            margin-top: auto;
            font-family: $BaiRegular;
            color: #B3B8B8;
            text-align: center;
            font-style: 18px;
        }
    }

    .section-1 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        margin: auto;

        .img-desk {
            width: 50%;
            height: 750px;
            background: no-repeat -39px 0% / 100% url('/images/image-computer.png');
        }

        .info-1{
            width: 50%;
            height: 750px;
            padding-top: 50px;
            display: flex;
            align-items: normal;

            h3 {
                width: auto;
                height: auto;
                color: #4A5152;
                font-size: 18px;
                font-family: $Bai-SemiBold;
                margin-bottom: 20px;
                padding-left: 20px;
            }

            p {
                width: 50%;
                height: auto;
                margin-top: 0px;
                margin-bottom: 30px;
                font-size: 15px;
                color: #B8BCBC;
                font-family: $BaiRegular;
                padding-left: 20px;
                text-align: left;
            }
        }
    }

    .section-2 {
        margin-bottom: auto;
        h3 {
            width: 100%;
            margin-top: auto;
            text-align: center;
            color: #50585D;
            font-family: $Bai-SemiBold;
            font-size: 20px;
        }

        p {
            width: 50%;
            font-size: 18px;
            color: #B7BABB;
            font-family: $BaiRegular;
        }

        img{
            width: auto;
            height: auto;
        }
    }

    .options {
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        div {
            width: 30%;
            height: 220px;

            h4 {
                height: auto;
                margin-bottom: 5px;
                color: #494D50;
                font-family: $Bai-SemiBold;
                font-size: 20px;
            }

            p {
                margin-top: 5px;
                width: 80%;
                font-family: $BaiRegular;
                font-size: 15px;
                color: #ACAEAD;
            }
        }
    }

    .logos {
        height: auto;
        display: flex;
        flex-direction: row;
    }

    .section-3 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;

        h4 {
            color: #485156;
            font-size: 30px;
            font-family: $Bai-SemiBold;
        }

        p {
            color: #ABADAC;
            font-size: 18px;
            font-family: $BaiRegular;
        }
        
        .botones-2{
            display: flex;
            flex-direction: row;
            justify-content: center;

            .btn-os{
                @include btn_style(#24BCA5,#21B9A2);
                margin-right: 10px;
                box-shadow: 0px 0px 0px 1px #61C4B5,
                    0px 10px 15px 1px #c2fced;
            }

            .btn-mac {
                @include btn_style(#6174FF,#5C6FFA);
                margin-left: 10px;
                box-shadow: 0px 0px 0px 1px #8895E6,
                            0px 10px 15px 1px #DFE3F9;
            }
        }
    }

    .footer {
        width: 100%;
        height: 120px;
        margin-bottom: 0px;
        border-top: 1px solid #F3F4F6;
        background-color: #F5F6F8;
        display: flex;
        flex-direction: row;

        .logo {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 50px;
                height: auto;
            }
        }

        .f-1 {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;

            ul {
                list-style: none;

                li{
                    margin-bottom: 10px;
                    a{
                        color: #75797C;
                        text-decoration: none;
                        font-family: $BaiRegular;
                    }
                    
                }
            }
        }

        .f-2 {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;

            ul {
                list-style: none;
                
                li{
                    margin-bottom: 10px;
                    color: #75797C;
                    font-family: $BaiRegular;
                }
            }
        }

        .f-3{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;

            ul {
                list-style: none;

                li{
                    margin-bottom: 10px;
                    color: #75797C;
                    font-family: $BaiRegular;
                }
            }
        }

        .r-sociales{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;

            img{
                padding-right: 20px;
            }
        }
    }

    .attribution {
        width: 100%;
        height: 30px;
        margin: auto;
        border-top: #9b9797;
        background-color: rgb(228, 226, 226);
    }
}

// RESPONSIVO

@media (max-width: 1000px){
    main {
        .section-1 {
            .img-desk{
                height: 500px;
                background-size: 90%;
            }

            .info-1{
                height: auto;
                padding-top: 0px;

                h3 {
                    padding-left: 0px;
                }

                p {
                    width: 80%;
                    padding-left: 0px;
                }
            }
        }
    }
}

@media (max-width: 800px){
    header {
        padding: 80px;

        h1 {
            font-size: 40px;
        }
    }

    main {
        div {
            align-items: normal;
             
            p {
                width: 100%;
            }
            .section-1 {
                .info-1 {
                    justify-self: normal;
                    margin-bottom: 0px;

                    h3 {
                        margin-bottom: 0px;
                    }
                }
            }
        }
        .section-2 {
            p {
                width: auto;
            }
        }

        .options {

            .option-1{
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    width: 40px;
                }
            }

            .option-2{
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 40px;
                }

                p {
                    width: 40%;   
                }
            }

            .option-3{
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 40px;
                }
            }
        }

        .logos {
            height: 50px;
            .google {
                height: 100%;
                align-items: center;
                 img {
                    width: 100px;
                 }
            }

            .ibm {
                height: 100%;
                align-items: center;
                 img {
                    width: 100px;
                 }
            }

            .Microsoft {
                height: 100%;
                align-items: center;
                 img {
                    width: 100px;
                 }
            }

            .hp {
                height: 100%;
                align-items: center;
                 img {
                    width: 100px;
                 }
            }

            .vector {
                height: 100%;
                align-items: center;
                 img {
                    width: 100px;
                 }
            }
        }
       
        .section-3 {
            align-items:  center;
            h4 {
                text-align: center;
            }

            p {
                width: 60%;
                text-align: center;
            }
        }

        .footer {

            .r-sociales{
                padding-top: 30px;
                 img {
                    width: 20px;
                    height: 20px;
                 }
            }
            .attribution{
                margin: 0px;
            }
        }
    }
}

@media (max-width: 650px){
    main {
        .options {

            .option-1 {
                h4 {
                    font-size: 15px;
                }

                p {
                    font-size: 12px;
                }
            }

            .option-2 {
                h4 {
                    font-size: 15px;
                }

                p {
                    width: auto;
                    font-size: 12px;
                }
            }

            .option-3 {
                h4 {
                    font-size: 15px;
                }

                p {
                    width: auto;
                    font-size: 12px;
                }
            }
        }
    }
}